<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bambeach.organizer">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/android_o"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/android_o"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bambeach.organizer.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".categories.CategoriesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".items.ItemsActivity"
            android:parentActivityName=".categories.CategoriesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bambeach.organizer.categories.CategoriesActivity" />
        </activity>
        <activity
            android:name=".itemdetail.ItemDetailActivity"
            android:label="@string/title_activity_item_detail_activity"
            android:parentActivityName=".items.ItemsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bambeach.organizer.items.ItemsActivity" />
        </activity>
        <activity
            android:name=".itemdetail.EditItemDetailActivity"
            android:label="@string/title_activity_edit_item_detail"
            android:parentActivityName=".itemdetail.ItemDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bambeach.organizer.itemdetail.ItemDetailActivity" />
        </activity>
        <activity
            android:name=".camera.CameraActivity"
            android:label="@string/title_activity_camera"
            android:parentActivityName=".itemdetail.EditItemDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bambeach.organizer.itemdetail.EditItemDetailActivity" />
        </activity>
        <activity android:name=".itemdetail.ChoosePhotoActivity"></activity>
    </application>

</manifest>